<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>

  <body class="bg-dark">
    
    <div class="container-fluid" style="padding: 0px 10px 0px 10px;">
        <%- include('../partials/navigation') %>
      <h3 class="text-white">
        <p ><%= name %></p>
        <span >
          <a href="/setupVirtual/<%= code %>"><button class="btn btn-outline-light">Start Virtual Contest</button></a>
        </span>
        <span >
          <a href="/virtual/endVc<%= code %>"><button class="btn btn-outline-light">End Virtual Contest</button></a>
        </span>
        <span class="text-red">
            <a href="/contestPage/<%= code %>/ranklist"><button class="btn btn-outline-light"> Go To Ranklist</button></a>
          </span>
      </h3>
    
      <table id="contest-table" class="table table-bordered table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Problem Code</th>
            <th scope="col">Submissions</th>
          </tr>
        </thead>
        <tbody id="contest-table-data">
          <% for(var i=0; i < problemsList.length; i++) { %>
          <tr>
            <td>
              <a
                href="/contestPage/<%= code %>/problem/<%= problemsList[i].problemCode %>"
                ><%= problemsList[i].problemCode %></a
              >
            </td>
            <td><%= problemsList[i].successfulSubmissions %></td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <h5 class="text-white">Announcements :</h5>
      <div class="text-white"><%- announcements %></div>
    </div>
  </body>
</html>
