<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/header') %>
    <body class="bg-dark text-white justify-content-center">
        <style>
            h3{
                font-size:1.4em;
                display: inline-block;
            }
            h2{
                display: inline-block;
            }
        </style>
        <div class="container-fluid" style="padding: 0px 10px 0px 10px;">
            <%- include('partials/navigation') %>
            <span class="text-white">
                <h2><%= problemName %></h2>
            </span>
            <a href="https://www.codechef.com/submit/<%= problemCode %>"><button class="btn btn-outline-light">Submit on codechef</button></a>
            
            <p class="text-white " id="problem-statement"><%- body %></p>
        </div>
    </body>
    <script>
        var converter = new showdown.Converter();
        converter.setOption('omitExtraWLInCodeBlocks', true);
        converter.setOption('noHeaderId', true);
        converter.setOption('parseImgDimensions', true);
        converter.setOption('simplifiedAutoLink', true);
        converter.setOption('literalMidWordUnderscores', true);
        converter.setOption('strikethrough', true);
        converter.setOption('tables', true);
        converter.setOption('tablesHeaderId', false);
        converter.setOption('ghCodeBlocks', true);
        converter.setOption('tasklists', true);
        converter.setOption('smoothLivePreview', true);
        converter.setOption('prefixHeaderId', false);
        converter.setOption('disableForced4SpacesIndentedSublists', false);
        converter.setOption('ghCompatibleHeaderId', true);
        converter.setOption('smartIndentationFix', false);
        
        console.log(document.getElementById('problem-statement').innerHTML);
        var html1 = converter.makeHtml(document.getElementById('problem-statement').innerHTML);
        console.log(html1);
        document.getElementById('problem-statement').innerHTML = html1;
    </script>
</html>